main{
    height: 100%;
}
.tableForm{
    margin-left: 210px;
    width: 550px
  
}
table{
    width: 900px;
    margin-left: 40px;
    border: 3px solid black;
    border-collapse: collapse; 
    margin-top: 20px;
    
        
}


 th{
    border-bottom: 2px solid blue;
    text-align: center;
    border: 1px solid black;
    background: #F0FFF0;
    border-bottom: 2px solid blue;
    padding: 20px;
    font-size: 20px;
       
 }

 td{
    padding: 20px;
    font-size: 18px;
    border: 1px solid black;
      
 }
 .button{
    text-decoration: none;
    font-size: 15px;
    width: 90px;
    height: 35px;
    color: red;
      
}
h2{
    font-size: 30px;
    background-color: gray;
    color: black;
	text-shadow:whitesmoke 0.1em 0.1em 0.2em;
    
}