<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Calcas</title>
    {{ style('principal')}}
    {{ style('calca-edite')}}

 
</head>
    <body>
        <div id="container">
        <header class="headerRoupas">
            <div class="barra"><p>OUTLET ©️LOTHING CENTER</p></div>
            <h1>Bem vindo Adm!!{{email}}</h1>
            <nav>
                    <a href="/calcas">Calças</a>
                    <a href="/camisetas">Camisetas</a>
                    <a href="/casacos">Casacos</a>
                    <a href="/sair">Sair</a>
            </nav>
        </header>
        <main>
            <table>
                <td>
                <h1>Editando Calça</h1>
                <form method="GET" action="calca-edite/{{calcas.id}}">
                {{ csrfField() }}
                <label for="marca_calca">Nova Marca:</label>
                <input type="text" id="marca_calca" name ="marca_calca">
                <br><br>
                <label for="tamanho_calca">Novo Tamanho:</label>
                <input type="text" id="tamanho_calca" name = "tamanho_calca">
                <br><br>
                <label for="qtd_calca">Nova Quantidade:</label>
                <input type="text" id="qtd_calca" name="qtd_calca">
                <br><br>

                  <button type="submit" onclick="editar()" class="button is-danger is-outlined">
                      <span class="icon is-small">
                          <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                      
                      <span>Editar</span>
                 
              </form>
          </td>
            </table>
        </main>
          <footer id="rodape">
            
            <p>Copyright @Lucas Ramos - 35.988.777/0001-33 - 2021 - Todos os direitos reservados</p>
        </footer>
    </body>
    <script>
        function editar()
        {
        alert("Calça alterada!");
        }
    </script>
</html>