<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Login</title>
  <link href="./bootstrap css/bootstrap.css" rel="stylesheet">
	<link href="./bootstrap css/signin.css" rel="stylesheet">
  {{ style ('logins')}}

</head>
<body>
<header>
  <nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" style="background: whitesmoke">OUTLET CLOTHING CENTER</a>
  </nav>
  
</header>

  <div class="container">
  <div class="form-signin" style="background: grey;">
  
  
  <form method="POST" action="/auth" >
   
    {{ csrfField() }}
    
        <h1 class="text-center">Login</h1> 
        <!--<label for="email">Email</label>-->
        <input type="text" id="email" name="email" required="required" placeholder="Digite seu e-mail" class="form-control"><br>
                
        <!--<label for="senha">Senha</label>-->
        <input type="password" id="senha" name="senha" required="required" placeholder="Digite sua senha" class="form-control"><br>
                
        <input type="submit" name="btnLogin" value="Entrar" class="btn btn-success btn-block"><br>
        <input type="submit" name="btnLogin" value="Voltar" class="btn btn-success btn-block"onclick="javascript: history.go(-1)"/><br>

        <div class="row text-center" style="margin-top: 20px;"> 
        <h4>Você ainda não possui uma conta?</h4><br>
         <a href="/cadastro">Cadastre-se</a>
               
                @if(old('notification'))
                  <p class="MsgDadosIncorretos">
                  {{ old('notification') }}
                  </p>
                @endif
  </form>
</div>
</div>
</div>
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</body>
</html>
