main {
	width:670px;
	margin: 20px 10px 50px 50px;	
	float:left;
	height: 100%;
	}


h2 {
	font-size:30px;
	text-align: center;
	
}
.sessaocasacos{
	/*Alinhamento da descrição*/
	text-align: center;
	margin-top: 10px;
	display: flex;
	margin-left: 50px;
}
#casacos{
	margin: 10px;
}
#casacojeans{
	margin: 10px;
}
#casacocollege{
	margin: 10px;
}
#casacofeminino{
	margin: 10px;
}
#casaconike{
	margin:15px;
}
#casaco{
	margin:15px;
}
h2{
	text-align: center;
	margin-top: 20px;
}
.sessaocasacos2{
	/*alinhamento da descrição */
	text-align: center;
	margin-top: 20px;
	display: flex;
	margin-left: 30px;
}



.casaco{
	margin-top:  20px;
    margin-bottom: 30px;
    display: flex;
    background-color:white;
    width:400px;
    margin-left: 25px;
    padding:10px;
    font-family:'Arial black', sans-serif;
    /*Borda*/
    border:1px solid black;
    /*Sombra da borda*/
    box-shadow:5px 5px 3px rgba(0,0,0,0.7);
    
}
figcaption{
	font-size: 14px;
	font-family: 'arial', sans-serif;
	text-align: center;

}
#legenda{
	font-family: 'arial black';
}
#legenda1{
	font-family: 'arial black';
}