<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adm</title>
    {{ style ('principal')}}
    {{ style ('shirts')}}
   
</head>

<body>
    <div id="container">
    <header>
    <div class="barra"><p>OUTLET ©️LOTHING CENTER</p></div>

    <h1>Bem vindo Adm!!{{email}}</h1>
    <nav>
        <a href="/loginadm">Administrador</a>
        <a href="/login">Logar</a>
        <br><br>
        <a href="/trousers">Calças</a>
        <a href="/shirts">Camisetas</a>
        <a href="/coats">Casacos</a>
        <a href="faleConosco.html">Fale Conosco</a>
        <a href="/sair">Sair</a>
    </nav>
    </header>

	<h2>Camisetas</h2>
    <main>
        <!--Demarca uma seção do meu layout-->	
		<section class="produtospromocionais">
			<!-- Figure para inserir imagens -->	
			<figure>
				<img src="img/camiseta-adidas.jpg" id="primeiro" alt="Camiseta Adidas">	
					<!--Legenda da imagem -->
					<figcaption>Camiseta Adidas G R$120,00</figcaption>
					
			</figure>

			<figure>
				<img src="img/camiseta-adidas-feminina.jpg" id="segundo" alt="Camiseta Adidas Feminina">	
					<figcaption>Camiseta Adidas Feminina G R$130,00</figcaption>
					
			</figure>

			<figure>
				<img src="img/camiseta-ck.jpg" id="terceiro" alt="Camiseta Calvin Klein">	
					<figcaption>Camiseta Calvin Klein M R$130,00</figcaption>
					
			</figure>

		</section>
               
            <section class="produtospromocionais2">
                <!-- Figure para inserir imagens -->	
                <figure>
                    <img src="img/camisetalevis-azul.jpg" id="primeiro" alt="Camiseta Levis Azul">	
                        <!--Legenda da imagem -->
                        <figcaption>Camiseta Levis Azul M R$99,00</figcaption>
                        
                </figure>
    
                <figure>
                    <img src="img/camisetalevis-branca.png" id="segundo" alt="Camiseta Levis Branca">	
                        <figcaption>Camiseta Levis Branca M R$99,00</figcaption>
                        
                </figure>
    
                <figure>
                    <img src="img/camiseta-nike.jpg" id="terceiro" alt="Camiseta da Nike ">	
                        <figcaption>Camiseta da Nike  R$200,00</figcaption>
                        
                </figure>
    
            </section>

            <section class="produtospromocionais3">
                <!-- Figure para inserir imagens -->	
                <figure>
                    <img src="img/camiseta-nike.jpg" id="primeiro" alt="Camiseta Nike">	
                        <!--Legenda da imagem -->
                        <figcaption>Camiseta Nike G R$150,00</figcaption>
                        
                </figure>
    
                <figure>
                    <img src="img/camiseta-nike-feminina.jpg" id="segundo" alt="Camiseta Nike Feminina">	
                        <figcaption>Camiseta Nike Feminina P R$100,00</figcaption>
                        
                </figure>
    
                <figure>
                    <img src="img/camisetavans-rosa.jpg" id="terceiro" alt="Camiseta Vans Rosa">	
                        <figcaption>Camiseta Vans Rosa P  R$180,00</figcaption>
                        
                </figure>
    
            </section>

    </main>
    
    

    <footer class="footer">
   
        <p>Copyright @LucasRamos - 35.988.777/0001-33 - 2021 - Todos os direitos reservados</p>
    </footer>
</body>
</html>