<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bem vindo</title>
    {{ style ('principal')}}
    {{ style ('bemvindo')}}
</head>

<body>
    <div id="container">
    <header>   
    <div class="barra"><p>OUTLET ©️LOTHING CENTER</p></div>

    <h1>Bem vindo!!{{email}}</h1>
        <nav>
            <a href="/bemvindo">Inicio</a>
			<a href="/loginadm">Administrador</a>
            <a href="/login">Logar</a>
            <br><br>
            <a href="/trousers">Calças</a>
            <a href="/shirts">Camisetas</a>
            <a href="/coats">Casacos</a>
            <a href="contato">Fale Conosco</a>
            <a href="/sair">Sair</a>
             
		</nav>
    </header>
    <h2>Produtos em destaque</h2>
    <main>
        <section class="sessaolancamentos">
			<!--TAG figure para inserir imagem	-->
			<figure>
				<img src="img/jaqueta2.jpg" id="lancamentos" alt="Jaqueta com estampa de flores">
					<!-- Legenda da imagem -->	
					<figcaption>Jaqueta Florida - R$ 119,00</figcaption>
					
			</figure>

			<figure>
				<img src="img/moletom2.jpg" id="lancamentomoletom" alt="Moletom adidas na cor rosa">	
					<figcaption>Moletom Rosa Adidas - R$ 249,99</figcaption>
					
			</figure>
            <figure>
				<img src="img/moletom4.jpg" id="lancamentosmoletons" alt="Moletom vermelho masculino">
					<!-- Legenda da imagem -->		
			<figcaption>Moletom Adidas - R$ 299,90</figcaption>
					
			</figure>
		
		
			</section>

		<!--Demarca uma seção do meu layout-->
		<section class="sessaolancamentos2">
			<!--TAG figure para inserir imagem	-->
		

			<figure>
				<img src="img/moletom3.jpg" id="lancamento" alt="Moletom preto masculino">	
					<figcaption>Moletom Masculino - R$ 189,90</figcaption>
					
			</figure>
            <figure>
				<img src="img/calcado1.jpg" id="calcado1" alt="Imagem de bota coturno com salto">
					<!-- Legenda da imagem -->	
					<figcaption>Bota Oxford Coturno - R$ 119,00</figcaption>
					
			</figure>

			<figure>
				<img src="img/calcado2.jpg" id="calcado2" alt="Imagem de tênis vans feminino de cor rosa">	
					<figcaption>Vans Autenthic - R$ 249,99</figcaption>
					
			</figure>
            </section>
			
			
			<section class="sessaolancamentos3">
			<figure>

				<img src="img/moletomfila.jpg" alt="Imagem de tênis da puma de cor verde">	
                <figcaption>Moletons FILA Masculinos - R$ 149,99</figcaption>
			</figure>
            <figure>
				<img src="img/moletons.jpg" id="lancamento3" alt="Moletons femininos">
                <figcaption>Moletons Adidas Femininos - R$ 199,99</figcaption>
				
			</figure>


			</section>
    </main>
        <footer id="rodape">
            
            <p>Copyright @Lucas Ramos - 35.988.777/0001-33 - 2021 - Todos os direitos reservados</p>
        </footer>
    
    </div>
</div>
      
</body>

</html>