<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adm</title>
    {{ style ('principal')}}
    {{ style ('casaco')}}
</head>
<body>
    <div id="container">
    <header class="headerRoupas">
    <div class="barra"><p>OUTLET ©️LOTHING CENTER</p></div>

    <h1>Bem vindo Adm!!{{email}}</h1>
    <nav>
    
            <a href="/calcas">Calças</a>
            <a href="/camisetas">Camisetas</a>
            <a href="/casacos">Casacos</a>
            <a href="/sair">Sair</a>
    </nav>
    </header>
    <main>
    <table class="tableForm">
    <td>
	<h2>ADICIONE UM NOVO CASACO</h2>
        
        <form action = "/casacos" method = "POST" class= "form_casacos">
            {{ csrfField() }}
            <div>
                <label for="marca_casaco">Marca:</label>
                <input type="text" id="marca_casaco" name ="marca_casaco">
                <br><br>
                <label for="tamanho_casaco">Tamanho:</label>
                <input type="text" id="tamanho_casaco" name = "tamanho_casaco">
                <br><br>
                <label for="qtd_casaco">Quantidade:</label>
                <input type="text" id="qtd_casaco" name="qtd_casaco">
                <br><br>
            </div>
            <div>
                <button class = "button" type="submit">Adicionar</button>
                
            </div>
        </td>
        </form>
    </table>
    <table>
        <h1>Lista de Casacos</h1>
        @each(casacos in casacos)
        <table>
            <tr>
              
                <th style='text-align: center;'>Id</th>
                <th style='text-align: center;'>Marca</th>
                <th style='text-align: center;'>Tamanho</th>
                <th style='text-align: center;'>Quantidade</th>
                <th colspan="2" >Ação</th>
            </tr>
            <td>
            {{ (casacos.id -1) }}
            </td>
            <td>   
            {{ casacos.marca_casaco }}
            </td>
            <td>
            {{ casacos.tamanho_casaco }}
            </td>
            <td>
            {{ casacos.qtd_casaco }}
            </td>
            <td>
            <button class="button">
            <a href="/casaco-edite/{{casacos.id}}" method = "GET" class="button">Editar</a>
            </button>
            </td>
            <td>
            <button class="button">
            <a href="/deleta-casaco/{{casacos.id}}" method = "GET" class="button">Deletar</a>
            </button>
            </td>
            </table>
            @else
                    <h1 class="tabela">Nenhuma tarefa foi criada ainda!</h1>
            @endeach
            <br>
            </div> 
        </tr>    
</main>

    <footer class="footer">
   
        <p>Copyright @LucasRamos - 35.988.777/0001-33 - 2021 - Todos os direitos reservados</p>
    </footer>
</body>
</html>