<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categorias</title>
    {{ style ('principal')}}
</head>

<body>
    <div id="container">
	<header>
    <div class="barra"><p>OUTLET ©️LOTHING CENTER</p></div>

    <h1>Bem vindo!!{{email}}</h1>
        <nav>
			
				<a href="Camisetas">Camisetas</a
				<a href="Calcas">Calças</a>
				<a href="Casacos">Casacos</a>
				<a href="Cadastro">Cadastro</a>
				<a href="/sair">Sair</a>
	
		</nav>
	</header>
    <main>
    </main>
    </div>
</body>

</html>