<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casacos</title>
    {{ style ('principal')}}
    {{ style ('coats')}}

</head>

<body>
    <div id="container">
    <header>
    <div class="barra"><p>OUTLET ©️LOTHING CENTER</p></div>

    <h1>Bem vindo Adm!!{{email}}</h1>
    <nav>
		<a href="/bemvindo">Inicio</a>
        <a href="/loginadm">Administrador</a>
        <a href="/login">Logar</a>
        <br><br>
        <a href="/trousers">Calças</a>
        <a href="/shirts">Camisetas</a>
        <a href="/coats">Casacos</a>
        <a href="/contato">Fale Conosco</a>
        <a href="/sair">Sair</a>
    </nav>
    </header>
    
    <h2>CASACOS</h2>
    <main>
        <section class="sessaocasacos">
			<!--TAG figure para inserir imagem	-->
			<figure>
				<img src="img/jaquetamasculina2.png" id="casacos" alt="Imagem de jaqueta preta masculina">
					<!-- Legenda da imagem -->	
					<figcaption>Jaqueta Puffer Preto - R$ 129,90</figcaption>
					
			</figure>

			<figure>
				<img src="img/jaquetajeans2.jpg" id="casacojeans" alt="Jaqueta feminina na cor vermelha">	
				<figcaption>Jaqueta Feminina Sarja R$ 89,90</figcaption>
					
			</figure>
        </section>
        <section class="sessaocasacos2">
			<figure>
				<img src="img/jaquetamasculina.jpg" id="casacocollege" alt="Jaqueta college moletom">	
					<figcaption>Jaqueta College - R$ 99,90</figcaption>
					
			</figure>

			<figure>
				<img src="img/jaqueta.jpg" id="casacofeminino" alt="Jaqueta preta feminina">	 
				<figcaption>Jaqueta Preta Feminina - R$ 119,90</figcaption>
					
			</figure>
			</section>

		
		<!--Demarca uma seção do meu layout-->
		<section class="sessaocasacos3">
			<!--TAG figure para inserir imagem	-->
			<figure class="casaco">
				<img src="img/casaco-nike.jpg" id="casaconike" alt="Casaco nike de cor branca e preta">
					<!-- Legenda da imagem -->		
					<figcaption>Casaco Nike - R$ 259,90
                     <br><br><br>
					            Descrição: A Windrunner surgiu em 1978, a princípio como um agasalho para práticas esportivas e treinamentos em situações adversas de tempo, mas que logo ganhou enorme notoriedade devido à confiança e estilo adquirida pelos usuários, tornando-se um ícone de moda e conforto.
					</figcaption>
					
			</figure>

			<figure class="casaco">
				<img src="img/moletom1.jpg" id="casaco" alt="Imagem camiseta levis feminina na cor branca">	 
				 <figcaption>Canguru Feminino - R$ 99,90
                <br><br><br>
							Descrição: Confeccionado em material macio ao toque da pele, o Moletom Feminino City Lady Básico é ideal para te acompanhar no dia a dia com versatilidade e conforto. Com design larguinho para um toque urbano nas suas combinações.
				 </figcaption>
					
			</figure>
			</section>
    </main>
	
    <footer class="footer">
   
        <p>Copyright @LucasRamos - 35.988.777/0001-33 - 2021 - Todos os direitos reservados</p>
    </footer>
</body>
</html>