<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calças</title>
    {{ style ('principal')}}
    {{ style ('trousers')}}
</head>

<body>
    <div id="container">
    <header>
    <div class="barra"><p>OUTLET ©️LOTHING CENTER</p></div>

    <h1>Bem vindo Adm!!{{email}}</h1>
    <nav>
        <a href="/bemvindo">Inicio</a>
        <a href="/loginadm">Administrador</a>
        <a href="/login">Logar</a>
        <br><br>
        <a href="/trousers">Calças</a>
        <a href="/shirts">Camisetas</a>
        <a href="/coats">Casacos</a>
        <a href="/contato">Fale Conosco</a>
        <a href="/sair">Sair</a>
    </nav>
    </header>

	<h2>CALÇAS</h2>
    <main>
        <section>
            <!-- Imagem com legenda -->
        <figure class="calca1">
            <img src="img/calca1.jpg"  alt="Calça jeans feminina">	
                <figcaption class="legenda"><p>Calça Jeans Feminina R$ 109,00</p>
                    <br><br><br>
                        Descrição: Calça Jeans Color Skinny Verde Militar, Marca W.Pink Jeans, Cós Estreito com Botão Centralizado e Passantes para Cinto, Bolsos Falsos na Frente e Bolsos Traseiros Modelo Tradicional, com Elastano.

                </figcaption>
                
       
        </figure>

        <figure class="calca2">
            <img src="img/calca2.jpg"  alt="Calça jeans Cigarrete">	
                <figcaption class="legenda"><p>Calça Jeans Cigarrete R$ 129,99</p>
                    <br><br><br>
                        Descrição: Calça Cigarrete Jeans Azul Escuro, Com Elastano, Cintura Alta, Boca Skinny, com bordado Retrato Falado em um bolso traseiro;
                        Composição: 72% Algodão 26% Poliéster 02% Elastano
                </figcaption>
                
        </figure>
        </section>
     

        <figure class="calca3">
            <img src="img/calca3.jpg"  alt="Calça moletom masculina">	
                <figcaption class="legenda"><p>Calça Moletom Masculina R$ 69,00</p>
                    <br><br><br>
                        Descrição: Calça confeccionada em moletom com modelagem reta. A peça é ideal para os momentos na academia, te mantém aquecido sem perder a mobilidade. Combine com camiseta leve e tênis esportivo.
                </figcaption>

        </figure>

        <figure class="calca4">
            <img src="img/calca4.jpg"  alt="Calça jeans sarja masculina">	
                <figcaption class="legenda"><p>Calça Jeans Sarja Masculina R$ 99,90</p>
                    <br><br><br>
                        Descrição: Calça masculina em tecido de algodão com elastano. Com pernas ajustadas, possui modelagem cargo, a clássica dos anos 90. Conta com bolsos funcionais, fechamento por botão e zíper e passante para cinto. Invista neste modelo para deixar as produções mais especiais.
                </figcaption>
                
        </figure>
    </section>
    </main>

    <footer class="footer">
   
        <p>Copyright @LucasRamos - 35.988.777/0001-33 - 2021 - Todos os direitos reservados</p>
    </footer>
</body>
</html>